@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin:0;
    padding:0;
    text-decoration:none;
    color:white;
}

body {
 font-family: 'Roboto', sans-serif;
}

.wrapper{
    padding: 10px;
}

ul{
    list-style-type: none;
}

.menu-wrap{
  width: 262px;
  background: #408E61;
  margin: 10px;
}

li .root{
   display:block;
   padding: 20px;
   font-size:110%;
}

li .sub{
  display:block;
  background:#45A17B;
  padding:15px 20px;
  font-size:100%;
}

li .item{
  display:block;
  background:#45A17B;
  padding:12px 32px;
  font-size:90%;
}

.root.active{
  background: #33714D;
  border-radius: 10px;
}

.sub.active{
  background: #50AD76;
}

.item.active{
  background: #50AD76;
}

li :hover{
  cursor: pointer;
}

li .root:hover{
  background: #33714D;
}

li .sub:hover,
li .item:hover {
 background: #50AD76;
}